[package]
name = "vt-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
avt = "0.17.0"
wasm-bindgen = "0.2"
serde = { version = "1", features = ["derive"] }
serde-wasm-bindgen = "0.6"

[profile.release]
opt-level = "z"
strip = true

[package.metadata.wasm-pack.profile.release]
wasm-opt = false
